*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: rgb(104, 108, 115);
    background-color: rgb(243, 244, 248);
    font-size: 1rem;
    line-height: 1.3;
    font-family: "GT America", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.hero {
    align-items: center;
    display: flex;
}

.container {
    margin: 0 auto;
    max-width: 85rem;
    width: 100%;
}

.container--flex {
    align-items: center;
    display: flex;
}

.hero__description {
    text-align: center;
}

.big-hero__heading {
    font-size: 1.8rem;
    font-weight: 750;
    margin-bottom: 0.3rem;
    line-height: 1;
    color: #000000;
    text-transform: uppercase;
}

.hero__description p {
    margin-bottom: 2rem;
}

.btn-get--started {
    border: 0;
    border-radius: 0;
    padding: 0.6rem 2.6rem;
    text-align: center;
    line-height: 1;
    background-color: rgb(5, 84, 241);
    color: #fff;
    font-weight: 800;
    font-size: 0.9rem;
    opacity: 0.3;
  }

  .image-container img{
      width: 100%;
  }

  .secondary-nav {
      padding: 1rem;
  }

  .secondary-nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000;
    margin: 0.4rem;
    padding: 0.6rem;
  }

  .svg-container {
    height: 1.2rem;
    width: 1.2rem;
    color: rgb(5, 84, 241);
  }

  .svg-container svg:only-child {
      color: inherit;
      fill: currentColor;
  }

@media (min-width: 700px) {
    .container:only-child {
        flex: 0 1 58%;
        margin: 1rem;
        min-width: 21rem;
    }
}